<datasource-http-settings current="ctrl.current" suggest-url="http://localhost/glpi090/apirest.php">
</datasource-http-settings>

<h3 class="page-heading">Application token</h3>

<div class="gf-form-group">
        <div class="gf-form-inline">
                <div class="gf-form max-width-30">
                        <span class="gf-form-label width-7">Token</span>
                        <input type="text" class="gf-form-input" ng-model='ctrl.current.token' placeholder="" required></input>
                </div>
        </div>
</div>

<h3 class="page-heading">User token</h3>

<div class="gf-form-group">
        <div class="gf-form-inline">
                <div class="gf-form max-width-15">
                        <span class="gf-form-label width-7">User</span>
                        <input type="text" class="gf-form-input" ng-model='ctrl.current.user' placeholder=""></input>
                </div>
                <div class="gf-form max-width-15">
                        <span class="gf-form-label width-7">Password</span>
                        <input type="password" class="gf-form-input" ng-model='ctrl.current.password' placeholder=""></input>
                </div>
        </div>
</div>
